/* You can add global styles to this file, and also import other style files */

body {
  display: block;
  height: 100%;
}



h1 ,h2 , h3, h4 ,h5 ,h6 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: wavy;
  font-weight: 700; 
}
